# ansible host groups #
[nfs]
{% for item in ec2ng.instances %}
{{ item.private_ip_address }}
{% endfor %}

[worker]
{% for item in ec2wp.instances %}
{{ item.private_ip_address }}
{% endfor %}

[control]
{% for item in ec2cp.instances %}
{{ item.private_ip_address }}
{% endfor %}
